:root{
    --lighter-green: #C8ECC36E;
    --light-green: #C8ECC2;
    --red: #ef5c5c;
    --dark-red: #941313;
    --green: #52b788;
    --dark-green: #105241;
}
.medium-title{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.small-title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.smaller-title{
    font-family: 'Lato', sans-serif;
    font-weight: 550;
    font-size: 15px;
}

.big-title{
    font-family: 'Playfair Display SC', serif;
    font-size: 32px;
    font-weight: 700;
}

p{
    font-family: 'Inter', sans-serif;
}

.custom-navbar-bg {
    background-color: #C8ECC2 !important;
}

.custom-footer-bg {
    background-color: var(--dark-green);
}

.navbar-nav .nav-link {
    font-size: 1.4rem;
    font-weight: 500;
}

.custom-btn-color {
    background-color: var(--green);
    color: #fff;

}

.custom-btn-color:hover {
    background-color: var(--dark-green);
    color: #fff;

}

.custom-btn-color2 {
    background-color: var(--red);
    color: #fff;

}

.custom-btn-color2:hover {
    background-color: var(--dark-red);
    color: #fff;

}


.custom-card {
    background-color: var(--lighter-green) !important;
    border: none;
    border-radius: 15px !important;
}

.time-div{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

.custom-text {
    color: #000;
    font-size: 25px;
}


.custom-text {
    color: #000;
}

a:link{
    text-decoration: none!important;
    cursor: pointer;
  }

  .rating {
    text-align: center;
  }
  
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 2em;
    color: grey;
  }
  
  /* Stile predefinito delle stelle vuote */
  .rating > span:before {
    content: "\2606";
    position: absolute;
    color: grey;
  }
  
  /* Stile per le stelle selezionate */
  .rating > span.selected:before {
    content: "\2605";
    color: var(--dark-green);
  }

  
#pagination-container button,
#currentPage {
    display: none;
}

#pagination-container.show-pagination button,
#currentPage.show-pagination {
    display: inline-block;
}


#profile-banner-div{

    background-color: var(--light-green);
    border-radius: 20px;
}

.Dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dialogContent {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

#profile-pic {
    max-width: 100%;
}

.myAlert{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    border-radius: 20px;
}

.myAlertBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.reviewModal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    height: 50vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9998;
    border-radius: 20px;
}

.reviewModalBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}